---
layout: layouts/base.njk
title: Important Update
permalink: /important-update/index.html
---

<section class="card-impact" aria-labelledby="important-update-video-heading">
  <h1 class="card-title" id="important-update-video-heading">Sees button, clicks button.</h1>
  <iframe
    class="video-frame"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/_-ryos-Xbks?si=vOv_Ts48gJIHEzMJ"
    title="Your lizard brain couldn't resist the button, could it? | 10 Hours of Button Pressing"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="origin"
    allowfullscreen>
  </iframe>
  <p><a class="btn" href="/">Back to homepage</a></p>
</section>
